

.my-calendar .ant-fullcalendar-year .ant-fullcalendar-month-panel-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);

  .ant-fullcalendar-month-panel-cell {
    grid-column: span 1;
    grid-row: span 1;
  }
}
