
.calendar-tabs {
  background: #fff;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;

  .ant-tabs-content {
    height: 100%;
  }

  .ant-tabs-tabpane-active {
    height: 100%;
  }

  .ant-tabs-nav {
    margin: 0px;
  }

  .ant-tabs-tab-btn {
    min-width: 80px;
    text-align: center;
  }
}

.calendar-view {
  background: #fff;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;

  .calendar-view-left {
    border-right: 1px solid rgb(192, 192, 192);

    .calendar-left-padding {
      padding: 0px 12px;
    }
  }

  .calendar-right {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    .ant-picker-panel .ant-picker-month-panel .ant-picker-calendar .ant-picker-panel .ant-picker-body {
      padding: 0px;
    }

    .month-every {
      height: 25%;
      padding: 10px 20px;
      border: none;
      outline: 1px solid rgb(192, 192, 192);

      h3 {
        text-align: left;
      }
    }
  }
}

.calendar-month-item {
  .every {
    margin: auto auto;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-top: 6px;
    box-sizing: content-box;
    text-align: center;
    border-radius: 24px;
  }
}

.calendar-month-item-none {
  .ant-picker-panel .ant-picker-date-panel {
    height: 0px;
    overflow: hidden;
  }
}

.ul-events {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 100px;
  overflow-y: auto;

  .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.border-collapse {
  height: 100px;
  width: 100%;
}

.every-today {
  background: #1677ff;
  color: #fff;
}


.year-calendar {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .month-container {
    border-right: 1px solid rgb(192, 192, 192);
    border-top: 1px solid rgb(192, 192, 192);
    // outline: 1px solid rgb(192, 192, 192);
    padding: 10px;

    .calendar-table {
      width: 100%;
    }

    table {
      width: 100%;
      height: calc(100% - 40px);

      thead {
        tr {
          width: 100%;
          display: flex;
          justify-content: space-between;

          th {
            text-align: center;
            margin: 0px;
            margin: auto auto;

            .every {
              width: 24px;
              // height: 24px;
              margin-top: 4px;
              text-align: center;
              border-radius: 24px;
              line-height: 20px;
            }
          }
        }
      }

      tbody {

        tr {
          width: 100%;
          height: 17%;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;

          td {
            text-align: center;
            margin: 0px;
            margin: auto auto;

            .every {
              width: 24px;
              // height: 24px;
              margin-top: 4px;
              text-align: center;
              border-radius: 24px;
              line-height: 20px;
            }

          }
        }
      }
    }
  }
}

@matrixWidth: 100 / 7;
.month-calendar {
  width: 100%;
  min-width: 600px;
  min-height: 300px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-collapse: collapse;
  td, th {
    outline: 1px solid rgb(192, 192, 192);
  }

  thead {
    tr {
      width: 100%;
      display: flex;
      justify-content: space-between;

      th {
        width: calc(~"calc(100% * @{matrixWidth})");
        min-height: 32px;
        line-height: 30px;
        text-align: center;
        margin: auto auto;
        margin-right: 1px;
      }
    }
  }

  tbody {
    tr {
      width: 100%;
      height: calc(100% / 6);
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      td {
        width: calc(~"calc(100% * @{matrixWidth})");
        padding: 8px;
        height: 100%;
        margin: auto auto;
      }

      .current-month {
        text-align: left;

        .is-today {
          color: #1677ff;
          position: relative;
          display: inline-block;
        }

        .is-today::after {
          content: "";
          position: absolute;
          left: -20%;
          bottom: -12px;
          width: 150%;
          height: 4px;
          border-radius: 3px;
          background-color: #1677ff;
          /* 自定义下划线的颜色 */
        }
      }

      .opacity-month {
        text-align: left;
        opacity: 0.3;
      }
    }
  }


  .ul-events {
    width: 100%;
    height: calc(100% - 12px);
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;

    .ant-badge.ant-badge-status .ant-badge-status-text {
      font-size: 12px;
    }

    li {
      margin-bottom: 0px;
    }

    .ant-badge-status {
      width: 100%;
      overflow: hidden;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .ul-events-data {
    background: #fff2e3;
  }
}


.calendar-list {
  .ant-tabs-tab-btn {
    min-width: 80px;
    text-align: center;
  }

}

.calendar-detail-table {
  padding-bottom: 0;

  .ant-pro-query-filter {
    padding: 0px;
  }
}

.every-form-list {
  border: 1px dashed #a9a9a9;
  padding: 10px 10px 0px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.list-render {
  white-space: pre-wrap;
}

.list-show {
  white-space: pre-wrap;
  // white-space: nowrap;
  // width: 100%;
  // text-overflow: ellipsis;
  // overflow: hidden;
}
